<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentscheduler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentScheduler">
        <activity android:name=".Activities.SingleNoteDetailActivity"
            android:label="Note Details"/>
        <activity android:name=".Activities.SingleAssessmentDetailActivity"
            android:label="Assessment Details"/>
        <activity android:name=".Activities.SingleInstructorDetailActivity"
            android:label="Instructor Details"
            android:parentActivityName=".Activities.AllInstructorsActivity"/>
        <activity
            android:name=".Activities.SingleCourseDetailActivity"
            android:label="Course Details"
            android:parentActivityName=".Activities.AllCoursesActivity" />
        <activity
            android:name=".Activities.SingleTermDetailActivity"
            android:label="Term Details"
            android:parentActivityName=".Activities.AllTermsActivity" />
        <activity
            android:name=".Activities.AddTermActivity"
            android:label="Add New Term"
            android:parentActivityName=".Activities.AllTermsActivity" />
        <activity
            android:name=".Activities.AllInstructorsActivity"
            android:label="Instructors List"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.AllCoursesActivity"
            android:label="Courses List"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.AllTermsActivity"
            android:label="Terms List"
            android:parentActivityName=".Activities.MainActivity" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>