<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentscheduler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentScheduler">
        <activity android:name=".Activities.SingleTermDetailActivity"
            android:parentActivityName=".Activities.AllTermsActivity"
            android:label="Term Details"/>
        <activity android:name=".Activities.AddTermActivity"
            android:parentActivityName=".Activities.AllTermsActivity"
            android:label="Add New Term"/>
        <activity android:name=".Activities.AllInstructorsActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:label="Instructors List"/>
        <activity android:name=".Activities.AllCoursesActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:label="Courses List"/>
        <activity android:name=".Activities.AllTermsActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:label="Terms List"/>
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>